.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: popIn 0.5s ease-out forwards;
    border: 2px solid var(--color-quinary);
}

.popup-content {
    padding: 1rem;
}

.popup h2 {
    color: var(--color-quinary);
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.popup p {
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.close-popup {
    background: var(--color-quinary);
    color: var(--color-primary);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-popup:hover {
    background: var(--color-secondary);
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}